<div class="row col-md-12 font align-items-center boxshaw mx-0">
  <div class="col-md-6 d-flex justify-content-start">
  <i class="fa fa-bars mt-4" aria-hidden="true"></i>
  <img src="assets/logo.jpg" alt="" class="icon-header">
  <h2 for="tieude" class="color-label mt-3 text-uppercase">Hệ thống giải trình và truy xuất gỗ</h2>
</div>
<div class="col-md-6 d-flex justify-content-end mb-3">
  <i class="fa fa-bell-o icon-header-r" aria-hidden="true"></i>
  <i class="fa fa-user-circle ml-3 icon-header-r" aria-hidden="true"></i>
</div>
</div>
