.img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.upload{
  visibility: hidden;
}
.color-input{
  background-color: rgb(188, 207, 200);
}
.font{
  font-size: 15px;
}
.color-btn1{
  background-color: rgb(59, 143, 112);
  color: white;
}
.color-btn2{
  color:  rgb(59, 143, 112);
}
.color-label{
  color: rgb(28, 117, 62);
  margin-left: 30px;
}
.astist{
  color: red;
}
.form{
  background-color: rgb(224, 174, 82);
  border-radius: 10px;
}
