<fieldset [disabled]="type === typeForm.view">
<form (ngSubmit)="onSubmit()" #form="ngForm" class="row form m-5 p-4">
    <div class="col-md-12 font pb-4 pt-3">
      <div class="row">
        <div class="col-md-6 pl-5">
          <div class="text-center">
            <img [src]="model.avatar ? model.avatar : imgDefault" class="img" (click)="upload.click()"><br />
            <input #upload class="upload" type='file' (change)="onSelectFile($event)" name="avatar">
          </div>
          <div class="form-group row">
            <div class="form-check label-generate">
              <input type="checkbox" class="form-check-input " name="active" [(ngModel)]="model.active" checked>&nbsp;
              <label class="form-check-label ml-4" for="activeId">Hoạt động</label>
            </div>
          </div>
          <div class="form-group row">
            <label for="text-input" class="col-md-12 col-form-label label-generate">Mã nhân viên:</label>
            <div class="col-md-12 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-qrcode"></i></span>
             </div>
              <input class="form-control" type="text" id="text-input" ngModel name="namecode"
                [(ngModel)]="model.namecode">
            </div>
          </div>
          <div class="form-group row">
            <label for="text-input" class="col-md-12 col-form-label label-generate">Tên nhân viên:<a class="astist">*</a></label>
            <div class="col-md-12 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
              <input class="form-control color-input" type="text" id="text-input" [(ngModel)]="model.name" name="name"
                #name="ngModel" [class.is-invalid]="name.invalid && name.touched && isSubmit" required>
              <div *ngIf="name.invalid && (name.dirty || name.touched || isSubmit)" class="text-danger">
                <div *ngIf="name.errors.required && isSubmit">
                  Name is required.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 group2 pl-5">
          <div class="form-group row">
            <label for="email-input" class="col-md-12 col-form-label label-generate">Email:</label>
            <div class="col-md-12 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope" aria-hidden="true"></i> </span>
              </div>
              <input class="form-control color-input" type="email" id="email-input" [(ngModel)]="model.email"
                name="email" #email="ngModel" [class.is-invalid]="email.invalid && isSubmit" email>
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                <div *ngIf="email.errors.email && isSubmit" class="warning">
                  Email sai định dạng.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="text-input" class="col-md-12 col-form-label label-generate">Dân tộc:</label>
            <div class="col-md-12 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-flag" aria-hidden="true"></i></span>
              </div>
              <input class="form-control color-input" type="text" id="text-input" ngModel name="nation"
                [(ngModel)]="model.nation">
            </div>
          </div>
          <div class="form-group row">
            <label for="level" class="col-md-12 col-form-label label-generate">Tình trạng hôn nhân:</label>
            <div class="col-md-12 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user-plus" aria-hidden="true"></i></span>
              </div>
              <select class="form-control color-input" [(ngModel)]="model.status" #level="ngModel" name="status"
                id="level" [(ngModel)]="model.status" required>
                <option *ngFor="let lvl of status" [value]="lvl">{{ lvl }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="textarea-input" class="col-md-12 col-form-label label-generate">Ghi chú:</label>
            <div class="col-md-12 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-comment" aria-hidden="true"></i></span>
              </div>
              <textarea class="form-control color-input" type="tel" id="textarea-input" ngModel name="comment"
                [(ngModel)]="model.comment"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
</fieldset>
<!-- <p>Form value</p>
<pre>{{form.value| json}}</pre> -->
