<fieldset [disabled]="type === typeForm.view">
  <form [formGroup]="employeeFormGroup" (ngSubmit)="onSubmit()" #form="ngForm" class="row form m-5 p-4">
    <div class="col-md-12 font pb-4 pt-3">
      <div class="row">
        <div class="col-md-6 pl-5">
          <div class="text-center">
            <img [src]="model.avatar ? model.avatar : imgDefault" class="img" (click)="upload.click()"><br />
            <input #upload class="upload" type='file' (change)="onSelectFile($event)" name="avatar"
              formControlName="avatar">
          </div>
          <div class="form-group row">
            <div class="form-check label-generate">
              <input #check type="checkbox" class="form-check-input " name="active" formControlName="active"
                checked>&nbsp;
              <label class="form-check-label ml-4" for="activeId" (click)="check.click()">Hoạt động</label>
            </div>
          </div>
          <div class="form-group row">
            <label for="text-input" class="col-md-12 col-form-label label-generate">Mã nhân viên:</label>
            <div class="col-md-12 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-qrcode"></i></span>
              </div>
              <input class="form-control" type="text" id="text-input" formControlName="namecode">
            </div>
          </div>
          <div class="form-group row">
            <label for="text-input" class="col-md-12 col-form-label label-generate">Tên nhân viên:<a
                class="astist">*</a></label>
            <div class="col-md-12 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
              <input class="form-control color-input" type="text" id="text-input" formControlName="name"
                [class.is-invalid]="employeeFormGroup.get('name').errors && isSubmit" required>
            </div>
            <!-- <p *ngIf="employeeFormGroup.get('name').invalid && isSubmit" class="warning text-danger">Tên nhân viên là bắt buộc</p> -->
            <p class="warning text-danger">{{formErrors?.name}}</p>
          </div>
        </div>
        <div class="col-md-6 group2 pl-5">
          <div class="form-group row">
            <label for="email-input" class="col-md-12 col-form-label label-generate">Email:</label>
            <div class="col-md-12 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope" aria-hidden="true"></i> </span>
              </div>
              <input class="form-control color-input" type="email" id="email-input" formControlName="email"
                [class.is-invalid]="employeeFormGroup.get('email')?.errors && employeeFormGroup.get('email').errors?.email && isSubmit"
                email pattern>
            </div>
            <!-- <p *ngIf="employeeFormGroup.get('email')?.errors && employeeFormGroup.get('email').errors?.email && isSubmit" class="warning text-danger">Email sai định dạng</p> -->
            <p class="warning text-danger">{{formErrors?.email}}</p>
          </div>
          <div class="form-group row">
            <label for="text-input" class="col-md-12 col-form-label label-generate">Dân tộc:</label>
            <div class="col-md-12 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-flag" aria-hidden="true"></i></span>
              </div>
              <input class="form-control color-input" type="text" id="text-input" formControlName="nation">
            </div>
          </div>
          <div class="form-group row">
            <label for="level" class="col-md-12 col-form-label label-generate">Tình trạng hôn nhân:</label>
            <div class="col-md-12 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user-plus" aria-hidden="true"></i></span>
              </div>
              <select class="form-control color-input" formControlName="status" id="level" required>
                <option *ngFor="let lvl of status" [value]="lvl">{{ lvl }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="textarea-input" class="col-md-12 col-form-label label-generate">Ghi chú:</label>
            <div class="col-md-12 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-comment" aria-hidden="true"></i></span>
              </div>
              <textarea class="form-control color-input" type="tel" id="textarea-input"
                formControlName="comment"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-12 font d-flex justify-content-start mt-5">
        <h2 for="tieude" class="color-label">DANH SÁCH CÔNG VIỆC</h2>
      </div>
      <div class="row col-md-12 mt-5">
        <table class="table ">
          <thead>
            <th class="tht">STT</th>
            <th>Tên công việc</th>
            <th>Mô tả công việc</th>
            <th class="tht">Thao tác</th>
          </thead>
          <tbody>

            <!-- <ng-container formArrayName="works" *ngFor="let employeeWork of formArrayItems.controls; let i = index" >
              <ng-container [formGroupName]="i">
                <tr>
                  <td class="tht">{{employeeWork.value.id}}</td>
                  <td>
                    <input type="text" formControlName="nameWork">
                  </td>
                  <td>
                    <input type="text" formControlName="descriptionWork">
                  </td>
                  <td><i class="fa fa-plus-square icon" aria-hidden="true"></i>
                    <i class="fa fa-plus-circle icon" aria-hidden="true"></i>
                    <i class="fa fa-trash icon icon-delete" aria-hidden="true"></i>
                  </td>
                </tr>
                <ng-container *ngIf="formArrayChild(employeeWork) && formArrayChild(employeeWork).controls.length">
                  <ng-container formArrayName="workChild" *ngFor="let itemChild of formArrayChild(employeeWork).controls; let j = index">
                    <ng-container [formGroupName]="j">
                      <tr>
                        <td class="tht">{{itemChild.value.id}}</td>
                        <td>
                          <input type="text" formControlName="nameWork">
                        </td>
                        <td>
                          <input type="text" formControlName="descriptionWork">
                        </td>
                        <td><i class="fa fa-plus-square icon" aria-hidden="true"></i>
                          <i class="fa fa-plus-circle icon" aria-hidden="true"></i>
                          <i class="fa fa-trash icon icon-delete" aria-hidden="true"></i>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container> -->

            <!-- <ng-container >
              <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: formArrayItems?.controls, name: 'works' }"></ng-container>
            </ng-container>

            <ng-template #recursiveListTmpl let-list="list" let-name="name">
              <ng-container [formArrayName]="name" *ngFor="let employeeWork of list; let i = index">
                <ng-container [formGroupName]="i">
                <tr>
                  <td class="tht">{{employeeWork.value.id}}</td>
                  <td>
                    <input type="text" formControlName="nameWork">
                  </td>
                  <td>
                    <input type="text" formControlName="descriptionWork">
                  </td>
                  <td><i class="fa fa-plus-square icon" aria-hidden="true"></i>
                    <i class="fa fa-plus-circle icon" aria-hidden="true"></i>
                    <i class="fa fa-trash icon icon-delete" aria-hidden="true"></i>
                  </td>
                </tr>
                <ng-container *ngIf="formArrayChild(employeeWork)?.controls.length > 0">
                  <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: formArrayChild(employeeWork)?.controls ,name: 'workChild' }">
                  </ng-container>
                </ng-container>
              </ng-container>
              </ng-container>
            </ng-template> -->

            <ng-template #recursiveList let-controls="controls" let-prefix="prefix">
              <ng-container *ngFor="let item of controls; let i = index">
                  <ng-container class="tree-item" [formGroup]="employeeFormGroup.get(prefix + i)">
                    <tr>
                      <td>
                      <input class="tht" type="text" formControlName="id">
                    </td>
                      <td>
                        <input type="text" formControlName="nameWork">
                      </td>
                      <td>
                        <input type="text" formControlName="descriptionWork">
                      </td>
                      <td><i class="fa fa-plus-square icon" aria-hidden="true" (click)="addWorkParent(controls)"></i>
                        <i class="fa fa-plus-circle icon" aria-hidden="true" (click)="addWorkChild(item)"></i>
                        <i class="fa fa-trash icon icon-delete" aria-hidden="true" (click)="delete(i,controls)"></i>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-container class="sub-tree" *ngIf="formArrayChild(item)?.controls?.length">
                      <ng-container
                          *ngTemplateOutlet="recursiveList; context:{ controls: formArrayChild(item)?.controls, prefix: prefix + i + '.workChild.'  }">
                      </ng-container>
                  </ng-container>
              </ng-container>
          </ng-template>
          <ng-container
              *ngTemplateOutlet="recursiveList; context:{ controls: formArrayItems?.controls, prefix: 'works.' }">
          </ng-container>



          </tbody>
        </table>
      </div>
  </form>
</fieldset>
<!-- <p>Form value</p>
<pre>{{employeeFormGroup.value| json}}</pre>
<pre>{{employeeFormGroup.status| json}}</pre> -->
