.img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  cursor: pointer;
}

.upload{
  visibility: hidden;
}
.color-input{
  background-color: white;
}
.font{
  font-size: 15px;
}

button:focus {
  outline:none;
}

.astist{
  color: red;
}

.form{
  background-color: #d6e4d6;
  border-radius: 10px;
  box-shadow: 3px 0px 3px 3px #d4d4d4;
}

.group2{
  margin-top: 4%;
}

.label-generate{
  padding-left: 2px;
}

input,
input:active,
input:focus,
select,
select:focus,
textarea,
textarea:focus {
    outline-style: none;
    border: none;
    box-shadow: none;
}
