.upload {
  display: none;
}

.auth {
  background: url("/assets/bg-login-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: auto;
  padding: 5rem 3rem 5rem 3em;
  position: fixed;
  .auth-popup {
    background: white;
    min-height: 100%;
    border-radius: 15px;
    .content {
      .form {
        padding-top: 30px;
        padding-bottom: 30px;
        .form-content {
          margin: 0 30px;
          padding-bottom: 10px;
          width: 100%;
        }
        .icon {
          color: #a9a9a9;
        }
        &-input {
          border: none;
          border-bottom: 1px solid #d5d5d5;
          font-size: 16px;
        }
      }
    }
  }
}

label {
  font-weight: normal;
}

.color-btn {
  background-color: rgb(59, 143, 112);
  color: white;
  border: none;
}

.color-btn2{
  color:  rgb(255, 255, 255);
  border: none;
  background-color: #bbbbbb;
  &:hover{
    color: #22784e;
    border-color:#22784e;
  }
}

.logo{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0rem;
  left: 1rem;
}
