<div [style.display]="isActive ? 'block' : 'none'" class="ant-layout" id="imagemodal" aria-hidden="true">
  <section class="auth">
    <div class="container font">
      <div class="auth-popup row">
        <div class="content col-md-12">
          <div class="form">
            <img src="./assets/logo.jpg" alt="" class="logo">
            <h3 for="tieude" class="d-flex justify-content-center text-uppercase font-weight-bold">HOÀN TẤT ĐĂNG KÝ
              <span class="font-italic font-eng-child mt-1">(COMPLETE A SIGN UP)</span></h3>
            <h4 for="tieude" class="d-flex justify-content-center font-weight-bold">Cá nhân/Hộ gia đình
              <span class="font-italic font-eng-child mt-1">(Individual/Household)</span></h4>
            <div class="d-flex">
              <form [formGroup]="userCreateForm" class="form-content" *ngIf="userCreateForm">
                <div class="col-md-12">
                  <div class="row pt-4">
                    <div class="col-md-2">
                      <label for="text-input" class="col-form-label label-generate py-0">Loại vai trò mong muốn:<span
                          class="required"></span>
                        <h6 class="font-italic">(Expected role(s))</h6>
                      </label>
                    </div>
                    <div class="col-md-10">
                      <div class="pl-4">
                        <label nz-checkbox [nzDisabled]="true" [nzChecked]="true">Người dùng thông thường
                          <span class="font-italic">(Normal User)</span>
                        </label>
                      </div>
                      <div class="pl-4">
                        <label nz-checkbox>Chủ rừng
                          <span class="font-italic">(Forest Owner)</span>
                        </label>
                      </div>
                      <div class="pl-4">
                        <label nz-checkbox>Kinh doanh/Chế biến gỗ
                          <span class="font-italic">(Wood Trader/Processor)</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label for="text-input" class="col-md-5 col-form-label label-generate py-0">Tên cá nhân/Hộ gia
                          đình:<span class="required"></span>
                          <h6 class="font-italic">(Individual/Householder name)</h6>
                        </label>
                        <input nz-input class="form-control col-md-7" type="text" placeholder="Text"
                          formControlName="fullname" [class.is-invalid]="formErrors?.fullname">
                      </div>
                      <p class="warning text-danger">{{formErrors?.fullname}}</p>
                    </div>
                    <div class="form-group row pt-2">
                      <div class="col-md-12">
                        <label for="text-input" class="col-md-5 col-form-label label-generate py-0">Số điện thoại di
                          động:<span class="required"></span>
                          <h6 class="font-italic">(Cell phone)</h6>
                        </label>
                        <input nz-input class="form-control color-input col-md-7" placeholder="Number" type="text"
                          id="text-input" formControlName="cellPhoneNumber">
                      </div>
                    </div>
                    <div class="form-group row pt-2">
                      <div class="col-md-12">
                        <label for="text-input" class="col-md-5 col-form-label label-generate py-0">CMND/Thẻ căn
                          cước:<span class="required"></span>
                          <h6 class="font-italic">(ID card No.)</h6>
                        </label>
                        <input nz-input class="form-control color-input col-md-7" placeholder="Number" type="text"
                          id="text-input" formControlName="identityCard">
                      </div>
                    </div>
                    <div class="form-group row pt-2">
                      <div class="col-md-12">
                        <label for="text-input" class="col-md-5 col-form-label label-generate py-0">Ảnh CMND:
                          <h6 class="font-italic">(ID card picture)</h6>
                        </label>
                        <div class="upload-image col-md-7 px-0">
                          <input #upload class="upload" type='file' (change)="onSelectFile($event)" name="avatar"
                            accept=".jpg, .jpeg, .png, .gif">
                          <ng-container *ngIf="imgeModel">
                            <div class="display-img" *ngFor="let itemImg of imgeModel;let index = index">
                              <img [src]="url + itemImg" class="img"
                                (click)="showModalImage(imgeModel, itemImg, index)">
                              <div class="icon-delete-image">
                                <i class="fa fa-times" aria-hidden="true" (click)="removeSelectedFile(index)"></i>
                              </div>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="imgeModel.length < 2">
                            <div class="perspective-image" (click)="upload.click()">
                              <i nz-icon nzType="file-add" nzTheme="outline"></i>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row pt-2">
                      <div class="col-md-12 pl-5">
                        <label for="text-input" class="col-form-label label-generate py-0">ĐỊA CHỈ LIÊN HỆ</label>
                        <span class="font-italic">(CONTACT ADDRESS)</span>
                      </div>
                    </div>
                    <div class="form-group row pt-2">
                      <div class="col-md-12">
                        <label for="text-input" class="col-md-5 col-form-label label-generate py-0">- Tỉnh/Thành phố
                          <h6 class="font-italic">(Province/City)</h6>
                        </label>
                        <nz-select class="form-control col-md-7" formControlName="province" nzAllowClear
                          nzPlaceHolder="-Chọn (Select)-" (ngModelChange)="changeProvince($event)">
                          <nz-option *ngFor="let item of masterDataAddressChildProvince" [nzLabel]="item.name"
                            [nzValue]="item"></nz-option>
                        </nz-select>
                        <!-- <select class="form-control color-input col-md-7" formControlName="province" id="level" required
                          (change)="onSelectDistrict($event.target.value)">
                          <option value="" selected disabled>-Chọn (Select)-</option>
                          <option *ngFor="let lvl of this.masterDataAddressChildProvince" [value]="lvl.code">
                            {{ lvl.name }}
                          </option>
                        </select> -->
                      </div>
                    </div>
                    <div class="form-group row pt-2">
                      <div class="col-md-12">
                        <label for="text-input" class="col-md-5 col-form-label label-generate py-0">- Quận/Huyện
                          <h6 class="font-italic">(District)</h6>
                        </label>
                        <nz-select class="form-control col-md-7" [nzDisabled]="!userCreateForm.get('province').value"
                          formControlName="district" nzAllowClear nzPlaceHolder="-Chọn (Select)-"
                          (ngModelChange)="changeDistrict($event)">
                          <nz-option *ngFor="let item of masterDataAddressChildDistrict" [nzLabel]="item.name"
                            [nzValue]="item"></nz-option>
                        </nz-select>
                        <!-- <select class="form-control color-input col-md-7" formControlName="district" id="level" required
                          (change)="onSelectWard($event.target.value)">
                          <option value="" selected disabled>-Chọn (Select)-</option>
                          <option *ngFor="let lvl of this.masterDataAddressChildDistrict" [value]="lvl.code">
                            {{ lvl.name }}
                          </option>
                        </select> -->
                      </div>
                    </div>
                    <div class="form-group row pt-2">
                      <div class="col-md-12">
                        <label for="text-input" class="col-md-5 col-form-label label-generate py-0">- Phường/Xã
                          <h6 class="font-italic">(commune/Commune)</h6>
                        </label>
                        <nz-select class="form-control col-md-7" [nzDisabled]="!userCreateForm.get('district').value"
                          formControlName="commune" nzAllowClear nzPlaceHolder="-Chọn (Select)-">
                          <nz-option *ngFor="let item of masterDataAddressChildWard" [nzLabel]="item.name"
                            [nzValue]="item"></nz-option>
                        </nz-select>
                        <!-- <select class="form-control color-input col-md-7" formControlName="commune" id="level" required>
                          <option value="" selected disabled>-Chọn (Select)-</option>
                          <option *ngFor="let lvl of this.masterDataAddressChildWard" [value]="lvl.code">{{ lvl.name }}
                          </option>
                        </select> -->
                      </div>
                    </div>
                    <div class="form-group row pt-2">
                      <div class="col-md-12">
                        <label for="text-input" class="col-md-5 col-form-label label-generate py-0">- Thôn/Bản
                          <h6 class="font-italic">(Village)</h6>
                        </label>
                        <input nz-input class="form-control color-input col-md-7" placeholder="Text" type="text"
                          id="text-input" formControlName="village">
                      </div>
                    </div>
                    <div class="form-group row pt-2">
                      <div class="col-md-12">
                        <label for="text-input" class="col-md-5 col-form-label label-generate py-0">- Số nhà/Tên đường
                          <h6 class="font-italic">(House number/Street)</h6>
                        </label>
                        <input nz-input class="form-control color-input col-md-7" placeholder="Text" type="text"
                          id="text-input" formControlName="street">
                      </div>
                    </div>
                    <div class="form-group row pt-2">
                      <div class="col-md-12">
                        <label for="text-input" class="col-md-5 col-form-label label-generate py-0">- Địa chỉ
                          <h6 class="font-italic">(Address)</h6>
                        </label>
                        <textarea class="form-control color-input col-md-7" type="text" disabled>{{address}}
                      </textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label for="text-input" class="col-md-5 col-form-label label-generate py-0">Các chức năng kinh
                          doanh:
                          <h6 class="font-italic">(Business functions)</h6>
                        </label>
                        <div class="col-md-7">
                          <nz-tree [nzData]="dataBusinessTypes" nzCheckable>
                          </nz-tree>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center mt-3 text-primary">
                  <u nz-checkbox class="text-primary" [(nzChecked)]="checked" formControlName="checked">Tôi đồng ý với
                    điều khoản sử dụng của Hawa DDS</u>
                  <span class="font-italic">(By clicking Sign up, you agree to HAWA DDS's Conditions of Use and
                    terms.)</span>
                </div>
                <div class="row d-flex justify-content-center">
                  <button nz-button class="text-uppercase col-md-4 mt-3 mr-3 w-100 ant-btn color-btn2">
                    <i class="fa fa-arrow-left mr-1" aria-hidden="true"></i>
                    <span>Trở về
                      <span class="font-italic" (click)="goBack()">(Back)</span>
                    </span>
                  </button>
                  <button nz-button class="text-uppercase col-md-4 mt-3 mr-3w-100 ant-btn" [disabled]="!checked"
                    [class.color-btn]="checked"><i class="fa fa-user-plus mr-1" aria-hidden="true"></i>
                    <span>Đăng kí
                      <span class="font-italic">(signup)</span>
                    </span>
                  </button>
                </div>
                <div class="text-center mt-4">
                  © 2020 HAWA. All right reserved. Powered by BYS
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-modal-images *ngIf="showModal" (closed)="closeImageModal()" [id]="id" [imgeModel]="imgeModel" [index]="index">
</app-modal-images>
