.icon{
  cursor: pointer;
  margin-left: 20%;
}

.icon-eye{
  color: rgb(197, 197, 14);
}

.icon-edit{
  color: rgb(0, 65, 245);
}

.icon-delete{
  color: rgb(197, 35, 14);
}

input,
input:active,
input:focus {
    outline: 0;
    outline-style: none;
    outline-width: 0;
    border: none;
}

.imgs{
  cursor: pointer;
  background-color: rgb(59, 143, 112);
  color: #ffffff;
  font-size: 25px;
}

.boxshaw{
  box-shadow: 3px 3px 3px 3px #ffffff;
}

.font{
  font-size: 15px;
}

.color-btn1{
  background-color: rgb(59, 143, 112);
  color: white;
  border: none;
}

.color-label{
  color: rgb(28, 117, 62);
}

button:focus {
  outline:none;
}

.form{
  background-color: #d6e4d6;
  border-radius: 10px;
  box-shadow: 3px 0px 3px 3px #dadada;
  padding: 2% 2% 20% 2% ;
}

table, th , td  {
  border: 1px solid #f1f1f1;
  border-collapse: collapse;
  font-size: 15px;
}

table {
  border: 1px solid #f1f1f1;
  background-color: white;
  font-size: 15px;
}

th{
  background-color:  rgb(59, 143, 112);
  font-size: 15px;
  color: white;
}

.tht{
  text-align: center;
}
