<form class="row form m-5">
<div class="col-md-12 font mb-5 d-flex justify-content-between align-items-center boxshaw">
  <h2 for="tieude" class="color-label">QUẢN LÝ NHÂN VIÊN</h2>
  <button [routerLink]="['/employee/create']" class="color-btn1" type="submit">THÊM NHÂN VIÊN</button>
</div>
<div class="col-md-12 font d-flex justify-content-between">
  <h2 for="tieude" class="color-label">DANH SÁCH NHÂN VIÊN</h2>
  <div class="font">
    <input #search class="input-search" type="text" name="search" placeholder="Tìm theo tên nhân viên" ngModel #name="ngModel" (keyup)="searchTerm$.next($event.target.value)" [value]="searchTerm$.value">
    <i class="fa fa-search imgs" aria-hidden="true" (click)="search.click()"></i>
  </div>
</div>
<div class="row col-md-12 mt-5">
  <table class="table ">
  <thead>
    <th class="tht">STT</th>
    <th>Mã nhân viên</th>
    <th>Tên nhân viên</th>
    <th>Email</th>
    <th class="tht">Thao tác</th>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td class="tht">{{employee.id}}</td>
      <td>{{employee.namecode}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.email}}</td>
      <td><i [routerLink]="['/employee/view',employee.id]" class="fa fa-eye icon icon-eye" aria-hidden="true" ></i>
          <i [routerLink]="['/employee/edit',employee.id]" class="fa fa-edit icon icon-edit" aria-hidden="true"></i>
          <i class="fa fa-trash icon icon-delete" aria-hidden="true" (click)="onDelete(employee.id)"></i>
        </td>
    </tr>
  </tbody>
  </table>
</div>
</form>
<router-outlet></router-outlet>

