<div class="font mt-4 d-flex justify-content-between align-items-center boxshaw mx-4 p-3">
  <h2 for="tieude" class="color-label d-flex justify-content-start">CHỈNH SỬA NHÂN VIÊN</h2>
  <div class="font">
    <button [routerLink]="['/employee/listemployee']" class="color-btn1  mr-2 " type="click" (click)="form.onUpdate(form.model)">LƯU</button>
    <button class="color-btn2" type="submit" >HỦY</button>
    <!-- (click)="onReset(form)" -->
  </div>
</div>

<app-form-employee #form [id]="id"><app-form-employee>
