.form{
  background-color: rgb(255, 255, 255);
}
.b-color{
  background-color: rgb(228, 228, 228);
}
table, th , td  {
  border: 1px solid #f1f1f1;
  border-collapse: collapse;
  font-size: 13px;
}
.note{
  color: red;
}
.font-title{
  font-weight: 900;
}
