
<app-header></app-header>
<div class="row col-md-12 px-0 mx-0">
  <div class="col-md-2">
    <app-menu></app-menu>
  </div>
  <div class="col-md-10 pt-4 pb-3 b-color mx-0">
    <div class="row font">
      <div class="col-md-9 ml-5 pt-4">
        <h4 for="tieude" class="d-flex justify-content-start text-uppercase font-weight-bold">Quản lý hồ sơ khai thác
        </h4>
        <h4 class="font-italic font-weight-bold">(Profile management)</h4>
      </div>
    </div>
    <form [formGroup]="harvestForm" class="row form m-5" *ngIf="harvestForm">
      <div class="col-md-12 font">
        <div class="row font pt-4">
          <div class="col-md-5">
            <h4 for="tieude" class="d-flex justify-content-start text-uppercase font-weight-bold">Khai báo hồ sơ đăng ký
              khai thác</h4>
            <h4 class="font-italic font-weight-bold">(Declare Forest harvest registration profile)</h4>
          </div>
          <div class="col-md-7 text-uppercase d-flex justify-content-end">
            <button nz-button class="color-btn1 mr-2" type="click">LƯU
              <h6 class="color-btn1">(Save)</h6>
            </button>
            <button nz-button [routerLink]="['/dashboard/user/view']" class="color-btn2" type="reset">HỦY
              <h6 class="color-btn2">(Cancel)</h6></button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <h4 class="font-weight-bold">THÔNG TIN HỒ SƠ <span class="font-italic font-eng-child">(PROFILE
                INFORMATION)</span></h4>
          </div>
          <div class="col-md-6 pt-4">
            <div class="form-group row">
              <div class="col-md-12">
                <label for="text-input" class="col-md-5 col-form-label label-generate py-0" required>Ngày chứng từ:<span
                    class="required"></span>
                  <h6 class="font-italic">(Profile date)</h6>
                </label>
                <div class="col-md-7 px-0">
                <nz-date-picker nzPlaceHolder="dd/mm/yyyy" class="form-control color-input"
                  nzFormat="dd/MM/yyyy" formControlName="profileDate" [nzDisabledDate]="disabledProfileDate"
                  [class.is-invalid]="harvestForm.get('profileDate').errors && isSubmit"></nz-date-picker>
                  <p class="warning text-danger">{{formErrors?.profileDate}}</p>
                </div>
              </div>
            </div>
            <div class="form-group row pt-4">
              <div class="col-md-12">
                <label for="email-input" class="col-md-5 col-form-label label-generate py-0">Mã hồ sơ:
                  <h6 class="font-italic">(Profile ID)</h6>
                </label>
                <input class="form-control color-input col-md-7" type="text" id="email-input"
                  formControlName="profileCode" disabled>
              </div>
            </div>
            <div class="form-group row pt-4">
              <div class="col-md-12">
                <label for="email-input" class="col-md-5 col-form-label label-generate py-0" required>Tên hồ sơ:<span
                    class="required"></span>
                  <h6 class="font-italic">(Profile name)</h6>
                </label>
                <div class="col-md-7 px-0">
                <input class="form-control color-input" type="text" id="email-input"
                  formControlName="profileName" [class.is-invalid]="harvestForm.get('profileName').errors && isSubmit">
                  <p class="warning text-danger">{{formErrors?.profileName}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row pt-4">
              <div class="col-md-12">
                <label for="email-input" class="col-md-5 col-form-label label-generate py-0">Người lập hồ sơ:
                  <h6 class="font-italic">(Created by)</h6>
                </label>
                <input class="form-control color-input col-md-7" type="text" id="email-input"
                  formControlName="fullname">
              </div>
            </div>
            <div class="form-group row pt-4">
              <div class="col-md-12">
                <label for="email-input" class="col-md-5 col-form-label label-generate py-0">Mã số bộ hồ sơ mua bán cây
                  đứng:
                  <h6 class="font-italic">(Standing tree trading profile ID)</h6>
                </label>
                <input class="form-control color-input col-md-7" type="text" id="email-input"
                  formControlName="standingTreeTraditionId">
              </div>
            </div>
            <div class="form-group row pt-4">
              <div class="col-md-12">
                <label for="email-input" class="col-md-5 col-form-label label-generate py-0">Mã số bộ hồ sơ rừng:
                  <h6 class="font-italic">(Forest profile ID)</h6>
                </label>
                <input class="form-control color-input col-md-7" type="text" formControlName="profileId">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 pt-4">
            <h4 class="font-weight-bold">THÔNG TIN ĐĂNG KÝ KHAI THÁC <span class="font-italic font-eng-child">(HARVEST
                REGISTRATION INFORMATION)</span></h4>
          </div>
          <div class="col-md-6">
            <div class="form-group row pt-4">
              <div class="col-md-12">
                <label for="email-input" class="col-md-5 col-form-label label-generate py-0">Đơn vị khai thác là:
                  <h6 class="font-italic">(The forest harvester is)</h6>
                </label>
                <div class="color-input col-md-7 px-0">
                  <nz-radio-group formControlName="isCheckMe">
                    <label nz-radio [nzDisabled]="disabled" nzValue="me">Là chính tôi (Self harvest)</label>
                    <br />
                    <label nz-radio [nzDisabled]="disabled">1 đơn vị khác (Harvested by Other)</label>
                  </nz-radio-group>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <label for="text-input" class="col-md-5 col-form-label label-generate py-0" required>Thời gian khai thác
                  từ
                  ngày:<span class="required"></span>
                  <h6 class="font-italic">(Forest harvesting from date)</h6>
                </label>
                <div class="col-md-7 px-0">
                <nz-date-picker nzPlaceHolder="dd/mm/yyyy" [nzDisabledDate]="disabledFromDate"
                  class="form-control color-input" nzFormat="dd/MM/yyyy" formControlName="fromDate"
                  [class.is-invalid]="harvestForm.get('fromDate').errors && isSubmit">
                </nz-date-picker>
                <p class="warning text-danger">{{formErrors?.fromDate}}</p>
              </div>
              </div>
            </div>
            <div class="form-group row pt-4">
              <div class="col-md-12">
                <label for="email-input" class="col-md-5 col-form-label label-generate py-0">Hình thức khai thác:
                  <h6 class="font-italic">(Harvest methods)</h6>
                </label>
                <div class="color-input col-md-7 px-0">
                  <nz-radio-group formControlName="harvestMethod">
                    <label nz-radio [nzDisabled]="!disabled" nzValue='ClearCut'>Khai thác trắng (Clear cut
                      harvest)</label>
                    <br />
                    <label nz-radio [nzDisabled]="!disabled" nzValue='Trim'>Tỉa thưa (Trim)</label>
                  </nz-radio-group>
                </div>
              </div>
            </div>
            <div class="form-group row pt-4">
              <div class="col-md-12">
                <label for="email-input" class="col-md-5 col-form-label label-generate py-0">Loại rừng:
                  <h6 class="font-italic">(Forest type)</h6>
                </label>
                <div class="color-input col-md-7 px-0">
                  <nz-radio-group formControlName="forestType">
                    <label nz-radio [nzDisabled]="!disabled" nzValue='ProductionForest'>Rừng sản xuất (Production
                      forests)</label>
                    <br />
                    <label nz-radio [nzDisabled]="!disabled" nzValue='SpecialUseForest'>Rừng đặc dụng (Special-use
                      forests)</label>
                    <br />
                    <label nz-radio [nzDisabled]="!disabled" nzValue='ProtectionForest'>Rừng phòng hộ (Protection
                      forests)</label>
                    <br />
                    <label nz-radio [nzDisabled]="!disabled" nzValue='ScantteredTree'>Cây phân tán (Scattered
                      trees)</label>
                  </nz-radio-group>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row toDate">
              <div class="col-md-12">
                <label for="text-input" class="col-md-5 col-form-label label-generate py-0" required>Đến ngày:<span
                    class="required"></span>
                  <h6 class="font-italic">(Forest harvesting to date)</h6>
                </label>
                <div class="col-md-7 px-0">
                <nz-date-picker nzPlaceHolder="dd/mm/yyyy" [nzDisabledDate]="disabledToDate"
                  class="form-control color-input" nzFormat="dd/MM/yyyy" formControlName="toDate"
                  [class.is-invalid]="harvestForm.get('toDate').errors && isSubmit">
                </nz-date-picker>
                <p class="warning text-danger">{{formErrors?.toDate}}</p>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <label for="text-input" class="col-md-12 col-form-label label-generate">Địa điểm, loài cây và diện tích khai
            thác:
            <h6 class="font-italic">(Harvest location, species and area)</h6></label>
          <div class="col-md-12 d-flex justify-content-end">
            <label for="text-input" class="col-md-11 col-form-label label-generate note">| Vui lòng chọn "Thêm lô" để
              thêm địa điểm bạn sẽ khai thác vào bảng bên dưới (Please choose "Add plot" to add new harvest location
              into below table)
            </label>
            <button class="col-md-1 color-btn1" type="click" (click)="showModal()">Thêm mới lô</button>
          </div>
          <nz-table #basicTable class="col-md-12 p-2" [nzData]="harvestModel.items" nzShowSizeChanger>
            <thead>
              <tr>
                <th class="font-weight-bold">Tỉnh/Thành phố
                  <h6 class="font-italic">(Province/City)</h6>
                </th>
                <th class="font-weight-bold">Quận/Huyện
                  <h6 class="font-italic">(District)</h6>
                </th>
                <th class="font-weight-bold">Phường/Xã
                  <h6 class="font-italic">(Ward/Commune)</h6>
                </th>
                <th class="font-weight-bold">Tiểu khu
                  <h6 class="font-italic">(Compartment)</h6>
                </th>
                <th class="font-weight-bold">Khoảnh
                  <h6 class="font-italic">(Sub-Comp.)</h6>
                </th>
                <th class="font-weight-bold">Lô
                  <h6 class="font-italic">(Plot)</h6>
                </th>
                <th class="font-weight-bold">D.tích khai thác
                  <h6 class="font-italic">(Harvest area)</h6>
                </th>
                <th class="font-weight-bold">D.tích còn lại
                  <h6 class="font-italic">(Remained area)</h6>
                </th>
                <th class="font-weight-bold">Loài cây
                  <h6 class="font-italic">(Species)</h6>
                </th>
                <th class="font-weight-bold">Năm trồng
                  <h6 class="font-italic">(Plant year)</h6>
                </th>
                <th class="font-weight-bold">Khối lượng dự kiến
                  <h6 class="font-italic">(Estimated Harvested Volume)</h6>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let items of harvestModel.items">
                    <td>{{items.province.value}}</td>
                    <td>{{items.district.value}}</td>
                    <td>{{items.commune.value}}</td>
                    <td>{{items.compt}}</td>
                    <td>{{items.subCompt}}</td>
                    <td>{{items.plot}}</td>
                    <td>
                      <div>
                        <input type="text">
                      </div>
                    </td>
                    <td>{{items.area}}</td>
                    <td *ngIf="items.treeType; else emty">{{items.treeType.name}}
                      <ng-template #emty>{{''}}</ng-template>
                    </td>
                    <td>{{(items.planYear * 1000) | date: 'yyyy'}}</td>
                    <td><input type="text"></td>
                    <td (click)="deleteItem(items.id)"><i class="fa fa-minus-circle" aria-hidden="true"></i></td>
                </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </form>
  </div>
</div>
