
<!-- <form [formGroup]="userForm">
  <div class="row d-flex justify-content-end mx-0">
    <div class="col-md-8 px-0">
      <img src="./assets/bg-login.jpg" alt="">
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="form-container">
            <h1 class="text-center text-uppercase">Đăng kí</h1>
          <div class="form-group row">
            <div class="col-md-12 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
              </div>
              <input class="form-control" type="text" placeholder="Tên tài khoản (Username) (*)" formControlName="username"
                [class.is-invalid]="formErrors?.username">
            </div>
            <p class="warning text-danger">{{formErrors?.username}}</p>
          </div>
          <div class="form-group row">
            <div class="col-md-12 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
              </div>
              <input class="form-control" type="text" placeholder="Người lập tài khoản? (Your full name) (*)" formControlName="fullname"
                [class.is-invalid]="formErrors?.fullname">
            </div>
            <p class="warning text-danger">{{formErrors?.fullname}}</p>
          </div>
          <div class="form-group row">
            <div class="col-md-12 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope-o" aria-hidden="true"></i> </span>
              </div>
              <input class="form-control" type="email" placeholder="Email (*)" formControlName="email"
                [class.is-invalid]="formErrors?.email">
            </div>
            <p class="warning text-danger">{{formErrors?.email}}</p>
          </div>
          <div class="form-group row">
            <div class="col-md-12 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-key" aria-hidden="true"></i></span>
              </div>
              <input class="form-control" type="password" placeholder="Mật khẩu (Password) (*)" formControlName="password"
                [class.is-invalid]="formErrors?.password">
            </div>
            <p class="warning text-danger">{{formErrors?.password}}</p>
          </div>
          <div class="form-group row">
            <div class="col-md-12 input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-key" aria-hidden="true"></i></span>
              </div>
              <input class="form-control" type="password" placeholder="Nhập lại mật khẩu (Confirm password )(*)" formControlName="confirmpassword"
                [class.is-invalid]="formErrors?.confirmpassword">
            </div>
            <p class="warning text-danger">{{formErrors?.confirmpassword}}</p>
          </div>
          <div class="form-group row text-left">
            <a>Loại tài khoản muốn đăng ký
              <span class="font-italic">(Account type) (*)</span>
            </a>
          </div>
            <div class="wrapper pb-3">
              <div class="account-type text-center p-4" [class.active]="isActive" (click)="chooseTypeSignUp()">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                <span> Cá nhân/Hộ gia đình</span>
              </div>
              <div class="account-type text-center p-4" [class.active]="!isActive" (click)="chooseTypeSignUp()">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                <span> Doanh nghiệp/Tổ chức/HTX </span>
              </div>
            </div>
          <div class="form-group row">
            <div class="col-md-12 input-group">
              <button class="form-control color-btn" type="submit" (click)="showModalSignUp()">Tiếp tục</button>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <a class="d-flex justify-content-center" href="auth/sign-in">Bạn đã có tài khoản? - Đăng nhập tại đây</a>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
              <p class="font-italic mt-1"> (Have got account already? Sign in here) </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<app-sign-up-household *ngIf="isActive" [isActive]="isActive"></app-sign-up-household> -->

<section class="auth">
  <div class="container">
    <div class="auth-popup row">
      <div  class="banner col-md-6 m-0 p-0 position-relative">
        <img src="./assets/bg-login.jpg" alt="" class="banner-bg">
      </div>
      <div class="content col-md-6">
        <div class="form">
          <h1 class="text-center text-uppercase">Đăng kí</h1>
          <div class="d-flex">
            <form [formGroup]="userForm" class="form-content" (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <div class="col-md-12 input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                  </div>
                  <input class="form-control" type="text" placeholder="Tên tài khoản (Username) (*)" formControlName="username"
                    [class.is-invalid]="formErrors?.username">
                </div>
                <p class="warning text-danger">{{formErrors?.username}}</p>
              </div>

              <div class="form-group row">
                <div class="col-md-12 input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                  </div>
                  <input class="form-control" type="text" placeholder="Người lập tài khoản? (Your full name) (*)" formControlName="fullname"
                    [class.is-invalid]="formErrors?.fullname">
                </div>
                <p class="warning text-danger">{{formErrors?.fullname}}</p>
              </div>
              <div class="form-group row">
                <div class="col-md-12 input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope-o" aria-hidden="true"></i> </span>
                  </div>
                  <input class="form-control" type="email" placeholder="Email (*)" formControlName="email"
                    [class.is-invalid]="formErrors?.email">
                </div>
                <p class="warning text-danger">{{formErrors?.email}}</p>
              </div>
              <div class="form-group row">
                <div class="col-md-12 input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-key" aria-hidden="true"></i></span>
                  </div>
                  <input class="form-control" type="password" placeholder="Mật khẩu (Password) (*)" formControlName="password"
                    [class.is-invalid]="formErrors?.password">
                </div>
                <p class="warning text-danger">{{formErrors?.password}}</p>
              </div>
              <div class="form-group row">
                <div class="col-md-12 input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-key" aria-hidden="true"></i></span>
                  </div>
                  <input class="form-control" type="password" placeholder="Nhập lại mật khẩu (Confirm password )(*)" formControlName="confirmpassword"
                    [class.is-invalid]="formErrors?.confirmpassword">
                </div>
                <p class="warning text-danger">{{formErrors?.confirmpassword}}</p>
              </div>
              <div class="form-group row text-left">
                <a>Loại tài khoản muốn đăng ký
                  <span class="font-italic">(Account type) (*)</span>
                </a>
              </div>
                <div class="wrapper pb-3">
                  <div class="account-type text-center p-4" [class.active]="isActiveH" (click)="chooseTypeSignUpH()">
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    <span> Cá nhân/Hộ gia đình</span>
                  </div>
                  <div class="account-type text-center p-4" [class.active]="isActiveE" (click)="chooseTypeSignUpE()">
                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    <span> Doanh nghiệp/Tổ chức/HTX </span>
                  </div>
                </div>
              <div class="form-group row">
                <div class="col-md-12 input-group">
                  <button class="form-control color-btn" type="submit">Tiếp tục</button>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <a class="d-flex justify-content-center" href="auth/sign-in">Bạn đã có tài khoản? - Đăng nhập tại đây</a>
                </div>
                <div class="col-md-12 d-flex justify-content-center">
                  <p class="font-italic mt-1"> (Have got account already? Sign in here) </p>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
<app-sign-up-household *ngIf="isActive && isActiveH" [isActive]="isActiveH"></app-sign-up-household>
<app-sign-up-enterprise *ngIf="isActive && isActiveE" [isActive]="isActiveE"></app-sign-up-enterprise>
