<fieldset [disabled]="type === typeForm.view" class="form p-4 mb-3">
  <form [formGroup]="userForm" class="row" *ngIf="userForm">
    <div class="col-md-12 font">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <div class="col-md-12">
              <label for="text-input" class="col-md-4 col-form-label label-generate">Mã tài khoản:</label>
              <input class="form-control col-md-8" type="text" id="text-input" formControlName="coCode">
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="text-input" class="col-md-4 col-form-label label-generate">Loại chủ rừng:</label>
              <select class="form-control color-input col-md-8" formControlName="forestOwnerType" id="level" required>
                <option *ngFor="let lvl of this.masterDataChild" [value]="lvl.code">{{ lvl.displayText }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="email-input" class="col-md-4 col-form-label label-generate">Tên cá nhân/Hộ gia đình:</label>
              <input class="form-control color-input col-md-8" type="text" id="email-input" formControlName="fullName">
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="email-input" class="col-md-4 col-form-label label-generate">Số điện thoại di động:</label>
              <input class="form-control color-input col-md-8" type="text" id="email-input"
                formControlName="cellphoneNumber">
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="email-input" class="col-md-4 col-form-label label-generate">CMND/Thẻ căn cước:</label>
              <input class="form-control color-input col-md-8" type="text" id="email-input"
                formControlName="identityCard">
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="email-input" class="col-md-4 col-form-label label-generate">Ngày cấp:</label>
              <nz-date-picker class="form-control color-input col-md-8" nzFormat="dd/MM/yyyy"
                formControlName="identityCardIssuedDate"></nz-date-picker>
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="email-input" class="col-md-4 col-form-label label-generate">Ảnh hộ khẩu:</label>
              <div class="col-md-8 px-0">
                <div class="upload-image">
                  <input #upload class="upload" type='file' (change)="onSelectFile($event)" name="avatar"
                    accept=".jpg, .jpeg, .png, .gif">
                  <div class="display-img" *ngFor="let itemImg of userModel.houseRegistrationImages;let index = index">
                    <img [src]="url + itemImg" class="img">
                    <div class="icon-delete-image" [class.hidden]="type === typeForm.view">
                      <i class="fa fa-times" aria-hidden="true" (click)="removeSelectedFile(index)"></i>
                    </div>
                  </div>
                  <ng-container *ngIf="userModel.houseRegistrationImages.length < 2">
                    <div [class.hidden]="type === typeForm.view" class="perspective-image" (click)="upload.click()">
                      <i class="fa fa-file"></i>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 group2 pl-5">
          <div class="form-group row">
            <div class="col-md-12">
              <label for="level" class="col-md-4 col-form-label label-generate">Tỉnh/Thành phố:</label>
              <select class="form-control color-input col-md-8" formControlName="province" id="level" required
                (change)="onSelectDistrict($event.target.value)">
                <option *ngFor="let lvl of this.masterDataAddressChildProvince" [value]="lvl.code">{{ lvl.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="level" class="col-md-4 col-form-label label-generate">Quận/Huyện:</label>
              <select class="form-control color-input col-md-8" formControlName="district" id="level" required
                (change)="onSelectWard($event.target.value)">
                <option *ngFor="let lvl of this.masterDataAddressChildDistrict" [value]="lvl.code">{{ lvl.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="level" class="col-md-4 col-form-label label-generate">Phường/Xã:</label>
              <select class="form-control color-input col-md-8" formControlName="commune" id="level" required>
                <option *ngFor="let lvl of this.masterDataAddressChildWard" [value]="lvl.code">{{ lvl.name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="email-input" class="col-md-4 col-form-label label-generate">Thôn/Bản:</label>
              <input class="form-control color-input col-md-8" type="text" formControlName="village">
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="email-input" class="col-md-4 col-form-label label-generate">Số nhà/Tên đường:</label>
              <input class="form-control color-input col-md-8" type="text" formControlName="street">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</fieldset>
