<fieldset [disabled]="type === typeForm.view">
  <form [formGroup]="userForm" class="row pt-5" *ngIf="userForm">
    <div class="col-md-12 font">
      <div class="row">
        <div class="col-md-6 pl-5">
          <div class="form-group row">
            <div class="col-md-12">
              <label for="text-input" class="col-md-4 col-form-label label-generate">Mã tài khoản:</label>
              <input class="form-control col-md-8" type="text" id="text-input" formControlName="coCode">
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="text-input" class="col-md-4 col-form-label label-generate">Loại chủ rừng:</label>
              <select class="form-control color-input col-md-8" formControlName="forestOwnerType" id="level" required>
                <option *ngFor="let lvl of this.masterDataChild" [value]="lvl.code">{{ lvl.displayText }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="email-input" class="col-md-4 col-form-label label-generate">Tên cá nhân/Hộ gia đình:</label>
              <input class="form-control color-input col-md-8" type="text" id="email-input" formControlName="fullName">
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="email-input" class="col-md-4 col-form-label label-generate">Số điện thoại di động:</label>
              <input class="form-control color-input col-md-8" type="text" id="email-input"
                formControlName="cellphoneNumber">
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="email-input" class="col-md-4 col-form-label label-generate">CMND/Thẻ căn cước:</label>
              <input class="form-control color-input col-md-8" type="text" id="email-input"
                formControlName="identityCard">
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="email-input" class="col-md-4 col-form-label label-generate">Ngày cấp:</label>
              <nz-date-picker class="form-control color-input col-md-8" nzFormat="dd/MM/yyyy" formControlName="identityCardIssuedDate"></nz-date-picker>
            </div>
          </div>
        </div>
        <div class="col-md-6 group2 pl-5">
          <div class="form-group row">
            <div class="col-md-12">
              <label for="level" class="col-md-4 col-form-label label-generate">Tỉnh/Thành phố:</label>
              <select class="form-control color-input col-md-8" formControlName="province" id="level" required (change)="onSelectDistrict($event.target.value)">
                <option *ngFor="let lvl of this.masterDataAddressChildProvince" [value]="lvl.code">{{ lvl.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="level" class="col-md-4 col-form-label label-generate">Quận/Huyện:</label>
              <select class="form-control color-input col-md-8" formControlName="district" id="level" required (change)="onSelectWard($event.target.value)">
                <option *ngFor="let lvl of this.masterDataAddressChildDistrict" [value]="lvl.code">{{ lvl.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="level" class="col-md-4 col-form-label label-generate">Phường/Xã:</label>
              <select class="form-control color-input col-md-8" formControlName="commune" id="level" required>
                <option *ngFor="let lvl of this.masterDataAddressChildWard" [value]="lvl.code">{{ lvl.name }}</option>
              </select>
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="email-input" class="col-md-4 col-form-label label-generate">Thôn/Bản:</label>
              <input class="form-control color-input col-md-8" type="text" formControlName="village">
            </div>
          </div>
          <div class="form-group row pt-4">
            <div class="col-md-12">
              <label for="email-input" class="col-md-4 col-form-label label-generate">Số nhà/Tên đường:</label>
              <input class="form-control color-input col-md-8" type="text" formControlName="street">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</fieldset>
