<div class="row col-md-12 font boxshaw px-0 pt-3">
    <ul nz-menu nzMode="inline">
      <li nz-tooltip nz-menu-item>
        <i nz-icon nzType="user"></i>
          <span>Thông tin tài khoản</span>
      </li>
      <li nz-tooltip nz-menu-item (click)="onSubmitMove()">
        <i nz-icon nzType="appstore"></i>
          <span>TT cá nhân/Hộ gia đình</span>
      </li>
      <li nz-submenu nzTitle="Quản lý tài khoản người dùng" nzIcon="setting">
        <ul>
          <li nz-menu-item>Option 9</li>
          <li nz-menu-item>Option 10</li>
          <li nz-menu-item>Option 11</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Quản lý hồ sơ khai thác" nzIcon="profile">
        <ul>
          <li nz-menu-item (click)="onSubmit()">Hồ sơ đăng kí khai thác</li>
        </ul>
      </li>
    </ul>
  </div>

