<div class="row col-md-12 font boxshaw px-0 pt-3">
    <ul nz-menu>
      <li nz-submenu nzTitle="Thông tin tài khoản" nzIcon="user">
        <ul>
          <li nz-menu-group nzTitle="Item 1">
            <ul>
              <li nz-menu-item>Option 1</li>
              <li nz-menu-item>Option 2</li>
            </ul>
          </li>
          <li nz-menu-group nzTitle="Item 2">
            <ul>
              <li nz-menu-item>Option 3</li>
              <li nz-menu-item>Option 4</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="TT cá nhân/Hộ gia đình" nzIcon="appstore">
        <ul>
          <li nz-menu-item>Option 5</li>
          <li nz-menu-item>Option 6</li>
          <li nz-submenu nzTitle="Submenu">
            <ul>
              <li nz-menu-item>Option 7</li>
              <li nz-menu-item>Option 8</li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Quản lý tài khoản người dùng" nzIcon="setting">
        <ul>
          <li nz-menu-item>Option 9</li>
          <li nz-menu-item>Option 10</li>
          <li nz-menu-item>Option 11</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Quản lý hồ sơ khai thác" nzIcon="profile">
        <ul>
          <li nz-menu-item (click)="onSubmit()">Hồ sơ đăng kí khai thác</li>
        </ul>
      </li>
    </ul>
  </div>

