/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.form-control {
    font-size: 13px;
}

button {
    padding: 5px 12px;
    border-radius: 5px;
}

.warning {
    padding-top: 2px;
    font-size: 90%;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.color-btn1{
  background-color: rgb(59, 143, 112);
  color: white;
  border: none;
}
.color-btn2{
  color:  rgb(59, 143, 112);
  border: none;
}

html {
  font-size: 13px;
}

.backrooll{
  cursor: pointer;
}

.font{
  font-family: 'Times New Roman', Times, serif;
}

.font-eng{
  font-weight: bold;
  font-style: italic;
}
