/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.icon-eye{
  color: #f5bc11;
  cursor: pointer;
}

.form-control {
    font-size: 13px;
}

button {
    padding: 5px 12px;
    border-radius: 5px;
}

.warning {
    padding-top: 2px;
    font-size: 100%;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.color-btn1{
  background-color: rgb(59, 143, 112);
  color: white;
  border: none;
}
.color-btn2{
  color:  rgb(59, 143, 112);
  border: none;
}

html {
  font-size: 13px;
}

.backrooll{
  cursor: pointer;
}

.font{
  font-family: 'Times New Roman', Times, serif;
}

.note{
  color: red;
}

.upload{
  display: none;
}

.perspective-image {
  margin: 5px;
  width: 60px;
  height: 60px;
  border: #cccccc 2px dashed;
  background-color: #f2f2f2;
  color: #cccccc;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upload-image {
  display: flex;

  .display-img {
    margin: 5px;
    width: 60px;
    height: 60px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    position: relative;

    .icon-delete-image {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      padding: 0.25rem;
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }

    &:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

      img {
        opacity: 0.5;
      }

      .icon-delete-image {
        display: block;
      }
    }
  }
}

.shadow{
  box-shadow: 3px 3px 3px 3px #d4d4d4;
}

.required:after {
  content: "*";
  color: red;
  font-style: italic;
}

.border-radius{
  border-radius: 10px;
}
