<div class="ml-3">
  <label>TÌM CHỌN ĐỊA ĐIỂM VÀ LÔ SẼ KHAI THÁC (SEARCH, CHOOSE HARVEST LOCATION AND PLOT)</label>
  <br>
  <div nz-checkbox [(nzChecked)]="checkedAll" (nzCheckedChange)="onAllChecked($event)">Chọn tất cả kết quả (Select all)
  </div>
  <br>
  <label for="" class="note">Vui lòng chọn 1 Loài cây muốn đăng ký khai thác, và chọn vào các lô tương ứng (Please
    select one specie want to register for harvesting, and select the related plots)</label>
</div>
<nz-table #basicTable [nzData]="forestLists" nzShowSizeChanger>
  <thead>
    <tr>
      <th></th>
      <th class="font-weight-bold">Tỉnh/Thành phố
        <h6 class="font-eng">(Province/City)</h6>
      </th>
      <th class="font-weight-bold">Quận/Huyện
        <h6 class="font-eng">(District)</h6>
      </th>
      <th class="font-weight-bold">Phường/Xã
        <h6 class="font-eng">(Ward/Commune)</h6>
      </th>
      <th class="font-weight-bold">Tiểu khu
        <h6 class="font-eng">(Compartment)</h6>
      </th>
      <th class="font-weight-bold">Khoảnh
        <h6 class="font-eng">(Sub-Comp.)</h6>
      </th>
      <th class="font-weight-bold">Lô
        <h6 class="font-eng">(Plot)</h6>
      </th>
      <th class="font-weight-bold">Loài cây
        <h6 class="font-eng">(Species)</h6>
      </th>
      <th class="font-weight-bold">D.tích có thể khai thác
        <h6 class="font-eng">(Harvest area)</h6>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let itemLists of basicTable.data">
      <tr *ngFor="let items of itemLists.trees">
        <ng-container *ngIf="!usedId.has(items.id)">
          <td [nzChecked]="setOfCheckedId.has(items.id)" (nzCheckedChange)="onItemChecked(items.id, $event)">
          </td>
          <td>{{forestModel.province.value}}</td>
          <td>{{itemLists.district.value}}</td>
          <td>{{itemLists.commune.value}}</td>
          <td>{{itemLists.compt}}</td>
          <td>{{itemLists.subCompt}}</td>
          <td>{{itemLists.plotCode}}</td>
          <td>{{items.treeType.name}}</td>
          <td>{{items.area - items.detail.standingTreeArea}}&nbsp;ha</td>
        </ng-container>
      </tr>
    </ng-container>
  </tbody>
</nz-table>
<nz-modal>
  <div class="d-flex justify-content-center" *nzModalFooter>
    <button nz-button nzType="default" class="color-btn1 text-uppercase" type="submit"
      (click)="clickNextModal()" [disabled]="setOfCheckedId.size === 0">Tiếp tục</button>
    <button nz-button nzType="primary" class="color-btn2 pr-4 pl-4" type="submit" (click)="destroyModal()">HỦY</button>
  </div>
</nz-modal>
