.font-eng-child{
  font-size: 17px;
}

.font-nz{
  width: 144px;
}

.b-color{
  background-color: rgb(228, 228, 228);
}

.form{
  background-color: rgb(255, 255, 255);
}

table, th , td  {
  border: 1px solid #f1f1f1;
  border-collapse: collapse;
  font-size: 13px;
}

.input-search{
  padding: 3px 3px 3px 16px;
}

.imgs{
  cursor: pointer;
  background-color: rgb(59, 143, 112);
  color: #ffffff;
  font-size: 20px;
}

input,
input:active,
input:focus {
    outline: 0;
    outline-style: none;
    outline-width: 0;
    border: none;
}

.boxshaw{
  box-shadow: 3px 3px 3px 3px #d4d4d4;
}

.ant-btn{
    background-color: rgb(59, 143, 112);
    color: white;
}

.th-color{
  background-color: rgb(59, 143, 112);
  color: #ffffff;
}
