<app-header></app-header>
<div class="row col-md-12 px-0 mx-0">
  <div class="col-md-2">
    <app-menu></app-menu>
  </div>
  <div class="col-md-10 pt-4 pb-3 b-color mx-0">
    <div class="row font">
      <div class="col-md-9 ml-5 pt-4">
        <h4 for="tieude" class="d-flex justify-content-start text-uppercase font-weight-bold">Quản lý hồ sơ khai thác
        </h4>
        <h4 class="font-italic font-weight-bold">(Profile management)</h4>
      </div>
    </div>
    <div class="row form m-5">
      <div class="col-md-12 font pt-4">
        <div class="col-md-7">
          <h4 for="tieude" class="d-flex justify-content-start text-uppercase font-weight-bold">DANH SÁCH HỒ SƠ ĐĂNG KÝ
            KHAI THÁC
            <span class="font-italic font-eng-child">(HARVEST REGISTRATION PROFILE LIST)</span></h4>
          <label for=""><span class="required"></span>Mã tài khoản (Account ID): {{user.coCode}}</label>
        </div>
        <div class="col-md-5 text-uppercase d-flex justify-content-end">
          <div class="font boxshaw">
            <input #search class="input-search" type="text" name="search" placeholder="Tìm theo mã hồ sơ" ngModel
              #name="ngModel">
            <i class="fa fa-search imgs p-2" aria-hidden="true" (click)="search.click()"></i>
          </div>
        </div>
      </div>
      <div class="col-md-12 d-flex form-inline pr-0">
        <div class="col-md-10 row">
          <div class="form-group col-md-2 align-items-start mr-3 py-1 px-0">
            <div class="align-items-start mr-3">
              <p class="mb-0">Từ ngày</p>
              <p class="font-italic mb-0">(From date)</p>
            </div>
            <div>
              <nz-date-picker nzPlaceHolder="dd/mm/yyyy" class="form-control color-input" nzFormat="dd/MM/yyyy"
                [(ngModel)]="date"></nz-date-picker>
            </div>
          </div>
          <div class="form-group col-md-2 align-items-start mr-3 py-1 px-0">
            <div class="align-items-start mr-3">
              <p class="mb-0">Đến ngày</p>
              <p class="font-italic mb-0">(To date)</p>
            </div>
            <div>
              <nz-date-picker nzPlaceHolder="dd/mm/yyyy" class="form-control color-input" nzFormat="dd/MM/yyyy"
              [(ngModel)]="date"></nz-date-picker>
            </div>
          </div>
          <div class="form-group col-md-2 align-items-start mr-3 py-1 px-0">
            <div class="align-items-start mr-3">
              <p class="mb-0">Đến ngày</p>
              <p class="font-italic mb-0">(To date)</p>
            </div>
            <div>
              <nz-date-picker nzPlaceHolder="dd/mm/yyyy" class="form-control color-input" nzFormat="dd/MM/yyyy"
              [(ngModel)]="date"></nz-date-picker>
            </div>
          </div>
          <div class="form-group col-md-2 align-items-start mr-3 py-1 px-0">
            <div class="align-items-start mr-3">
              <p class="mb-0">Trạng thái</p>
              <p class="font-italic mb-0">(Status)</p>
            </div>
            <div>
              <nz-select [(ngModel)]="selectedValue" class="font-nz">
                <nz-option *ngFor="let option of selectedMasterData" [nzLabel]="option.value" [nzValue]="option.value"></nz-option>
                <nz-option nzLabel="Default Value" nzValue="Default" nzHide></nz-option>
              </nz-select>
            </div>
          </div>
          <div class="form-group col-md-2 align-items-start mr-3 py-1 px-0">
            <div class="align-items-start mr-3">
              <p class="mb-0">Nguồn gốc</p>
              <p class="font-italic mb-0">(Status)</p>
            </div>
            <div>
              <!-- <nz-select class="font-nz" ngModel="Tất cả" [nzOptions]="masterData"></nz-select> -->
            </div>
          </div>
        </div>
        <div class="col-md-2 row px-0 mx-0">
          <div class="row col-md-12 px-0 mx-0">
          <div class="form-group col-md-6 align-items-start text-uppercase">
            <button class="font-nz pr-3 pl-3" nz-button class="color-btn1" type="click">Lọc
              <h6 class="color-btn1 font-italic">(Filter)</h6>
            </button>
          </div>
          <div class="form-group col-md-6 align-items-start text-uppercase">
            <button class="pr-5 pl-5" nz-button class="color-btn1" type="click">Xóa Lọc
              <h6 class="color-btn1 font-italic">(Remove Filter)</h6>
            </button>
          </div>
        </div>
        </div>
      </div>

    <div class="col-md-12 pt-3">
      <nz-table #basicTable nzShowSizeChanger
      [nzData]="listOfRandomUser"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)">
        <thead>
          <tr>
            <!-- <th class="font-weight-bold">STT
              <h6 class="font-italic">(No.)</h6>
            </th> -->
            <th class="font-weight-bold">Mã hồ sơ
              <h6 class="font-italic">(Profile ID)</h6>
            </th>
            <th class="font-weight-bold">Tên hồ sơ
              <h6 class="font-italic">(Profile name)</h6>
            </th>
            <th class="font-weight-bold">Ngày Chứng từ
              <h6 class="font-italic">(Profile date)</h6>
            </th>
            <th class="font-weight-bold">Trạng thái hồ sơ
              <h6 class="font-italic">(Profile status)</h6>
            </th>
            <th class="font-weight-bold">Nguồn gốc
              <h6 class="font-italic">(Created from)</h6>
            </th>
            <th class="font-weight-bold">Thao tác hồ sơ
              <h6 class="font-italic">(Actions on profile)</h6>
            </th>
            <th class="font-weight-bold">Xem RTE
              <h6 class="font-italic">(View RTE)</h6>
            </th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listOfRandomUser.items">
                <!-- <td></td> -->
                <td>{{item.profileCode}}</td>
                <td>{{item.profileName}}</td>
                <td>{{item.profileDate | date: 'dd/mm/yyyy'}}</td>
                <td>{{item.status}}</td>
                <td></td>
                <td><i class="fa fa-eye icon icon-eye" aria-hidden="true" ></i></td>
                <td></td>
            </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
</div>
