.font-eng-child{
  font-size: 17px;
}

.font-nz{
  width: 144px;
}

.b-color{
  background-color: rgb(228, 228, 228);
}

.form{
  background-color: rgb(255, 255, 255);
}

table, th , td  {
  border: 1px solid #ffffff;
  border-collapse: collapse;
  font-size: 13px;
  background-color: #e5f1ee;
}

.input-search{
  padding: 3px 3px 3px 16px;
}

.imgs{
  cursor: pointer;
  background-color: rgb(59, 143, 112);
  color: #ffffff;
  font-size: 20px;
}

input,
input:active,
input:focus {
    outline: 0;
    outline-style: none;
    outline-width: 0;
    border: none;
}

.boxshaw{
  box-shadow: 3px 3px 3px 3px #d4d4d4;
}

.ant-btn{
    background-color: rgb(59, 143, 112);
    color: white;
}

.th-color{
  background-color: rgb(59, 143, 112);
  color: #ffffff;
}

.td-b-color1{
  background-color: #f57328;
  border-radius: 4rem;
  color: white;
  width: 12rem;
}

.td-b-color2{
  background-color: #f5bc11;
  border-radius: 4rem;
  color: white;
  width: 12rem;
}

.td-b-color3{
  background-color: #727376;
  border-radius: 4rem;
  color: white;
  width: 12rem;
}

.required:after {
  content: "";
  border-left: .3rem solid #0d6c42;
  margin-right: .5rem;
}

::ng-deep .anticon.anticon-left{
  display: flex;
  align-items: center;
}

::ng-deep .anticon.anticon-right{
  display: flex;
  align-items: center;
}

::ng-deep .ant-pagination-options-size-changer.ant-select{
  margin: 0;
}

button{
  padding: 5px 0px;
  line-height: 1;
}

::ng-deep body{
  line-height: normal;
}
