<app-header></app-header>
<div class="row col-md-12 px-0 mx-0">
  <div class="col-md-2">
    <app-menu></app-menu>
  </div>
  <div class="col-md-10 pt-5 b-color">
    <div class="row font">
      <div class="col-md-8 text-uppercase">
        <h2 for="tieude" class="d-flex justify-content-start">Chỉnh sửa thông tin cá nhân/hộ gia đình</h2>
      </div>
      <div class="col-md-4 text-uppercase d-flex justify-content-end">
        <button class="color-btn1  mr-2" type="click" (click)="form.onUpdate()">LƯU</button>
        <button [routerLink]="['/dashboard/user/view']" class="color-btn2" type="reset">HỦY</button>
      </div>
    </div>
    <app-user-form #form [model]="user" [type]="type"></app-user-form>
  </div>
</div>
